<h1><%= @congressmember.first_name %> <%= @congressmember.last_name %></h1>

<p>
  <strong><%= @congressmember.party %></strong> 
  from 
  <strong><%= @congressmember.state %></strong>
</p>

<%= image_tag @congressmember.image_url %>

<div>
<%= link_to 'Edit', edit_congressmember_path(@congressmember) %> |
<%= link_to 'Back', congressmembers_path %>
</div>