<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @congressmember.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @congressmember.last_name %>
</p>

<p>
  <strong>Party:</strong>
  <%= @congressmember.party %>
</p>

<p>
  <strong>State:</strong>
  <%= @congressmember.state %>
</p>

<%= link_to 'Edit', edit_congressmember_path(@congressmember) %> |
<%= link_to 'Back', congressmembers_path %>
